@model MVC_Layout.Models.Northwind.Supplier
@{
   
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-6 mx-auto">
        <form method="post">
            <input type="hidden" value="@Model.SupplierId" name="SupplierId" />
            <div>
                <label>Şirket Ad: </label>
                <input value="@Model.CompanyName" type="text" class="form-control" name="CompanyName" />
            </div>
            <div>
                <label>Yetkili Kişi: </label>
                <input value="@Model.ContactName" type="text" class="form-control" name="ContactName" />
            </div>
            <div>
                <label>Telefon No: </label>
                <input value="@Model.Phone" type="text" class="form-control" name="Phone" />
            </div>

            <button class="btn btn-primary">Güncelle</button>
        </form>
    </div>
</div>


