<!DOCTYPE html>
    <html>
    <head>
        <title>Data Transfer</title>
        <!--Bootstrap Css-->
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    </head>
    <body>
    
        <nav>
            burası navbar
        </nav>

        <!--Render-->
        @RenderBody()

        <footer>
            burası footer
        </footer>
    </body>
    </html>