
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>TempData</h2>
            </div>
            <div class="card-body">
                @TempData["Message"]
            </div>
        </div>
    </div>
</div>

