#container {
    width: 1080px;
    height: auto;
    /* background-color: aqua;*/
}

#navbar {
    width: 1080px;
    height: 100px;
    background-color: chartreuse;
}

.menu {
    width: 100px;
    height: 500px;
    background-color: crimson;
    float: left;
}

#content {
    width: 880px;
    height: 500px;
    background-color: darkslateblue;
    float: left;
}

#footer {
    width: 1080px;
    height: 100px;
    background-color: chartreuse;
    float: left;
}

h2 {
    color: white;
}

/*#container #navbar h2{
            color:white;
        }*/

#navbar-title {
    width: 100px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    line-height: 100px;
}

#menu-title {
    font-size: 14px;
    text-align: center;
    line-height: 350px;
    a
}

#content-title {
    text-align: center;
    line-height: 350px;
}

#footer-title {
    text-align: center;
    color: black;
}
