USE [master]
GO
/****** Object:  Database [ImdbData]    Script Date: 10.05.2025 14:22:42 ******/
CREATE DATABASE [ImdbData]
 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ImdbData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ImdbData]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10.05.2025 14:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Casts]    Script Date: 10.05.2025 14:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Casts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Movie_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Casts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 10.05.2025 14:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UserId] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directors]    Script Date: 10.05.2025 14:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Directors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 10.05.2025 14:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieGenres]    Script Date: 10.05.2025 14:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenres](
	[Movie_Id] [int] NOT NULL,
	[Genre_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MovieGenres] PRIMARY KEY CLUSTERED 
(
	[Movie_Id] ASC,
	[Genre_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 10.05.2025 14:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Year] [int] NOT NULL,
	[RuntimeMinutes] [int] NOT NULL,
	[Rating] [float] NOT NULL,
	[Votes] [int] NOT NULL,
	[RevenueMillions] [decimal](18, 2) NOT NULL,
	[Metascore] [int] NOT NULL,
	[Director_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Movies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pictures]    Script Date: 10.05.2025 14:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pictures](
	[Id] [int] NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[MovieId] [int] NOT NULL,
 CONSTRAINT [PK_Pictures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trailers]    Script Date: 10.05.2025 14:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trailers](
	[Id] [int] NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[MovieId] [int] NOT NULL,
 CONSTRAINT [PK_Trailers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.05.2025 14:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Casts] ON 

INSERT [dbo].[Casts] ([Id], [FullName], [Movie_Id]) VALUES (1, N' Stephen Merchant', 1)
INSERT [dbo].[Casts] ([Id], [FullName], [Movie_Id]) VALUES (2, N' Richard Gere', 1)
INSERT [dbo].[Casts] ([Id], [FullName], [Movie_Id]) VALUES (3, N' Vin Diesel', 2)
GO
SET IDENTITY_INSERT [dbo].[Casts] OFF
GO
INSERT [dbo].[Comments] ([Id], [Body], [CreatedDate], [UserId], [MovieId]) VALUES (1, N'Güzel film', CAST(N'2021-05-09T00:00:00.000' AS DateTime), 1, 2)
INSERT [dbo].[Comments] ([Id], [Body], [CreatedDate], [UserId], [MovieId]) VALUES (2, N'Gerçekten harika bir film!', CAST(N'2021-05-09T00:00:00.000' AS DateTime), 2, 2)
GO
SET IDENTITY_INSERT [dbo].[Directors] ON 

INSERT [dbo].[Directors] ([Id], [FullName]) VALUES (1, N'James Gunn')
INSERT [dbo].[Directors] ([Id], [FullName]) VALUES (2, N'Ridley Scott')
INSERT [dbo].[Directors] ([Id], [FullName]) VALUES (3, N'M. Night')
GO
SET IDENTITY_INSERT [dbo].[Directors] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([Id], [Name]) VALUES (1, N'Action')
INSERT [dbo].[Genres] ([Id], [Name]) VALUES (2, N'Adventure')
INSERT [dbo].[Genres] ([Id], [Name]) VALUES (3, N'Sci-Fi')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
INSERT [dbo].[MovieGenres] ([Movie_Id], [Genre_Id]) VALUES (1, 8)
INSERT [dbo].[MovieGenres] ([Movie_Id], [Genre_Id]) VALUES (1, 14)
INSERT [dbo].[MovieGenres] ([Movie_Id], [Genre_Id]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([Id], [Title], [Description], [Year], [RuntimeMinutes], [Rating], [Votes], [RevenueMillions], [Metascore], [Director_Id]) VALUES (1, N'Movie 43', N'A series of interconnected short films follows a washed-up producer as he pitches insane story lines featuring some of the biggest stars in Hollywood.', 2013, 94, 43, 83625, CAST(8.83 AS Decimal(18, 2)), 18, 307)
INSERT [dbo].[Movies] ([Id], [Title], [Description], [Year], [RuntimeMinutes], [Rating], [Votes], [RevenueMillions], [Metascore], [Director_Id]) VALUES (2, N'Guardians of the Galaxy', N'A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.', 2014, 121, 81, 757074, CAST(333.13 AS Decimal(18, 2)), 76, 1)
INSERT [dbo].[Movies] ([Id], [Title], [Description], [Year], [RuntimeMinutes], [Rating], [Votes], [RevenueMillions], [Metascore], [Director_Id]) VALUES (3, N'Godzilla', N'The world is beset by the appearance of monstrous creatures, but one of them may be the only one who can save humanity.', 2014, 123, 64, 318058, CAST(200.66 AS Decimal(18, 2)), 62, 13)
GO
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
INSERT [dbo].[Trailers] ([Id], [Url], [MovieId]) VALUES (1, N'https://www.youtube.com/watch?v=2LIQ2-PZBC8&ab_channel=MarvelEntertainment', 2)
INSERT [dbo].[Trailers] ([Id], [Url], [MovieId]) VALUES (2, N'https://www.youtube.com/watch?v=d96cjJhvlMA&ab_channel=MarvelEntertainment', 2)
GO
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [UserName], [Email], [Password]) VALUES (1, N'Fatih', N'Günalp', N'fatih', N'fatih.gunalp@gmail.com', N'1234')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [UserName], [Email], [Password]) VALUES (2, N'Çağrı', N'Yolyapar', N'cagri', N'cyolyapar@gmail.com', N'123')
GO
/****** Object:  Index [IX_Movie_Id]    Script Date: 10.05.2025 14:22:42 ******/
CREATE NONCLUSTERED INDEX [IX_Movie_Id] ON [dbo].[Casts]
(
	[Movie_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Genre_Id]    Script Date: 10.05.2025 14:22:42 ******/
CREATE NONCLUSTERED INDEX [IX_Genre_Id] ON [dbo].[MovieGenres]
(
	[Genre_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movie_Id]    Script Date: 10.05.2025 14:22:42 ******/
CREATE NONCLUSTERED INDEX [IX_Movie_Id] ON [dbo].[MovieGenres]
(
	[Movie_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Director_Id]    Script Date: 10.05.2025 14:22:42 ******/
CREATE NONCLUSTERED INDEX [IX_Director_Id] ON [dbo].[Movies]
(
	[Director_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Casts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Casts_dbo.Movies_Movie_Id] FOREIGN KEY([Movie_Id])
REFERENCES [dbo].[Movies] ([Id])
GO
ALTER TABLE [dbo].[Casts] CHECK CONSTRAINT [FK_dbo.Casts_dbo.Movies_Movie_Id]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Movies]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[MovieGenres]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieGenres_dbo.Genres_Genre_Id] FOREIGN KEY([Genre_Id])
REFERENCES [dbo].[Genres] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieGenres] CHECK CONSTRAINT [FK_dbo.MovieGenres_dbo.Genres_Genre_Id]
GO
ALTER TABLE [dbo].[MovieGenres]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieGenres_dbo.Movies_Movie_Id] FOREIGN KEY([Movie_Id])
REFERENCES [dbo].[Movies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieGenres] CHECK CONSTRAINT [FK_dbo.MovieGenres_dbo.Movies_Movie_Id]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Movies_dbo.Directors_Director_Id] FOREIGN KEY([Director_Id])
REFERENCES [dbo].[Directors] ([Id])
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [FK_dbo.Movies_dbo.Directors_Director_Id]
GO
ALTER TABLE [dbo].[Pictures]  WITH CHECK ADD  CONSTRAINT [FK_Pictures_Movies] FOREIGN KEY([Id])
REFERENCES [dbo].[Movies] ([Id])
GO
ALTER TABLE [dbo].[Pictures] CHECK CONSTRAINT [FK_Pictures_Movies]
GO
ALTER TABLE [dbo].[Trailers]  WITH CHECK ADD  CONSTRAINT [FK_Trailers_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([Id])
GO
ALTER TABLE [dbo].[Trailers] CHECK CONSTRAINT [FK_Trailers_Movies]
GO
USE [master]
GO
