<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand">
        <!--begin::Brand Link-->
        <a href="~/admin-theme/index.html" class="brand-link">
            <!--begin::Brand Image-->
            <img src="~/admin-theme/assets/img/AdminLTELogo.png"
                 alt="AdminLTE Logo"
                 class="brand-image opacity-75 shadow" />
            <!--end::Brand Image-->
            <!--begin::Brand Text-->
            <span class="brand-text fw-light">AdminLTE 4</span>
            <!--end::Brand Text-->
        </a>
        <!--end::Brand Link-->
    </div>
    <!--end::Sidebar Brand-->
    <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul class="nav sidebar-menu flex-column"
                data-lte-toggle="treeview"
                role="navigation"
                aria-label="Main navigation"
                data-accordion="false"
                id="navigation">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Home" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>Anasayfa</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Category" class="nav-link">
                        <i class="nav-icon bi bi-stack"></i>
                        <p>Kategori</p>
                    </a>
                </li>


                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Product" class="nav-link">
                        <i class="nav-icon bi bi-tags"></i>
                        <p>Ürün</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Orders" class="nav-link">
                        <i class="nav-icon bi bi-truck"></i>
                        <p>Sipariş</p>
                    </a>
                </li>
               

                <li class="nav-item">
                    <a href="/admin/supplier" class="nav-link">
                        <i class="nav-icon bi bi-truck"></i>
                        <p>Supplier</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/product" class="nav-link">
                        <i class="nav-icon bi bi-box-seam"></i>
                        <p>Product</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/order" class="nav-link">
                        <i class="nav-icon bi bi-receipt"></i>
                        <p>Order</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/user" class="nav-link">
                        <i class="nav-icon bi bi-person"></i>
                        <p>User</p>
                    </a>
                </li>
            </ul>
            <!--end::Sidebar Menu-->
        </nav>
    </div>
    <!--end::Sidebar Wrapper-->
</aside>